asteval==0.9.18
atomicwrites==1.4.0
attrs==20.1.0
certifi==2020.6.20
colorama==0.4.3
configparser==5.0.0
cycler==0.10.0
future==0.18.2
h5py==2.10.0
iniconfig==1.0.1
kiwisolver==1.2.0
lmfit==1.0.1
matplotlib==3.3.1
more-itertools==8.4.0
numpy==1.19.1
packaging==20.4
pandas==1.1.1
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
PyQt5==5.15.0
PyQt5-sip==12.8.0
pyqtgraph==0.11.0
pytest==6.0.1
python-dateutil==2.8.1
pytz==2020.1
scipy==1.5.2
seaborn==0.10.1
six==1.15.0
toml==0.10.1
uncertainties==3.1.4
wincertstore==0.2
